*
{
    margin:0;
    padding:0;
    background-image: url("maths2.jpg");
    background-size: cover;
    font-family: sans-serif;
    color: white;
    font-weight: bold;

}
.container
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.calculator
{
    display: grid;
    grid-template-columns: repeat(4,68px);
    border: 1px solid rgb(240, 237, 237);
    border-radius: 15px;
    padding: 30px;
    border-radius:10px ;
     background-color: #0c0c0c;
}
input{
    text-align: right;
    grid-column: span 4;
    border: 2px solid rgb(248, 246, 246);
    height: 50px;
    box-shadow: inset 5px 5px 12px #ffffff,
    5px 5px 12px rgba(0,0,0,.16);
    border-radius: 20px;
    background-color: rgb(3, 78, 78);
    font-size: 30px;
    text-align: end;
    padding-right: 40px;
}
button{
    height:40px;
    width: 48px;
    border-radius:50%;
    border: 0;
    box-shadow: inset 5px 5px 12px #f7f4f4,
    5px 5px 12px rgba(12, 12, 12, 0.16);
    margin: 10px;
    font-size: 20px;
}
button:hover
{
    opacity: 0.95;
    transform: scale(0.95);
}
button{
    background-color: #0c0c0c;
}